body {
	margin: 0;
	padding: 0;
	background: transparent url(../images/bg.png) repeat top left;
}

h1,
h2,
h3,
h4 {
	padding: 0;
	margin: 0;
	text-align: center;
}

label {
	float: left;
}

.game_info {
	color: #FFF;
	font-weight: normal;
}

field {
	background: transparent url(../images/field.png) no-repeat top center;
	height: 600px;
}

field ul li {
	width: 200px;
	list-style-type: none;
}

field ul.subs {
	width: 750px;
	padding-left: 500px;
	padding-top: 50px;
	text-align: left;
}

field ul ul.subs li {
	color: white;
}

.clearboth {
	clear: both;
}

a {
	color: #FFFFFF;
}

.clean_both {
	clear: both;
}

/*#####################
#     New Game CS     #
#####################*/

select {
	width: auto;
}

ul.defender,
ul.midfield,
ul.forward {
	width: 200px;
}

ul.defender li,
ul.midfield li,
ul.forward li {
	float: left;
}

/*#####################
#       MENU CSS      #
#####################*/

#menu {
	text-align: center;
}

#menu ul {
	list-style-type: none;
}

#menu li {
	display: inline;
	padding-right: 20px;
}

#menu li a {
	font-size: 20px;
	color: #FFF;
	text-decoration: none;
}

#menu li a:hover {
	color: #FF0000;
}

/*#####################
#      Footer CS     #
#####################*/

#footer {
	padding-top: 50px;
	text-align: center;
}

#footer h5 {
	margin: 0;
	padding: 0;
}

/*#####################
#      Starts CS      #
#####################*/

.star1 {
	height: 20px;
	width: 20px;
}

.star2 {
	height: 20px;
	width: 20px;
}

.star3 {
	height: 20px;
	width: 20px;
}

.star4 {
	height: 20px;
	width: 20px;
}

.star5 {
	height: 20px;
	width: 20px;
}

.star6 {
	height: 20px;
	width: 20px;
}

.star7 {
	height: 20px;
	width: 20px;
}

.star8 {
	height: 20px;
	width: 20px;
}

.star9 {
	height: 20px;
	width: 20px;
}

.star10 {
	height: 20px;
	width: 20px;
}

.stars6 {
	background: transparent url(../images/star_big_blue.png) no-repeat top left;
}

/*#####################
#    Create Player    #
#####################*/

.image {
	width: 100px;
	height: 100px;
	margin-top: 20px;
	background: transparent url(../images/image-placeholder.jpg) no-repeat top left;
}

#newPlayer {
	width: 600px;
	margin: 0 auto;
}

#photo {
	float: left;
}

#content {
	padding-left: 100px;
}

#newPlayer #content {
	float: left;
	width: 200px;
}

#newPlayer Input {
	width: 200px;
}

#playerInfo {
	background-color: #FFFFFF;
}

.player_count {
	color: #FFFFFF;
}

.playerName {
	color: #6B6B6B;
}

.playerStatus {
	margin: 0 auto;
	width: 450px;
}

#playerSkills {
	float: left;
	padding-left: 10px;
	background-color: red;
	margin-left: 40px;
	margin-top: 5px;
}