{% extends _layout %}

{% block content %}
  <div class="menu">
    <ul>
      <li>
        <a href="/jogos/create">New Game</a>
      </li>
    </ul>
  </div>
  {% for match in games %}
    <div class="match">
      {{ match.date }}
      {{ match.score }}
    </div>
  {% endfor %}

{% endblock %}
